*,*:before,*:after{border:none;box-sizing:border-box;margin:0;padding:0}
*:focus{outline-style:none;box-shadow:none;border-color:transparent}
body{background-color:#ECF0F5;color:#210000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;position:relative}
a,a:visited{color:#4056a1;text-decoration:none}
a:hover{text-decoration:underline}
button[type=submit].btn{cursor:pointer;font-size:14px;padding:4px 8px 4px 4px;}
img.post-image{max-width: 400px;height:auto;margin-right: 16px;vertical-align: text-top;float:left;}
img.top{float:left;height:48px;margin-top:4px;vertical-align:text-top;width:48px;}
img#site-logo{float:left;height:48px;width:48px;margin:8px 0 0 8px;}
#site-title{float:left;margin-left:8px;font-size:38px;text-decoration: overline}
ol{margin: 10px 20px;}

#archive-indicator{text-align: center;font-size: 24px;font-weight: bold;padding: 24px;border-top: 1px solid black;border-bottom: 1px solid black; color:red;margin: 10px 0;}
#boards-section, #replies-section{margin: 6px;}
#board-statistics-section{margin-bottom:6px}
#errors{background-color:#ffebec;border:1px solid #eedadb;color:#ab4424;margin-bottom: 12px;padding: 10px;}
#form-area.error{background-color:#ffebec;border:1px solid #eedadb;color:#ab4424;}
#foot>ul>li>a{color:#90CAF9;}
#home-link{margin-left:8px;}
#new-discussion>form>input[type=text]{padding:8px;width:100%;}
#new-discussion>form>textarea{border: 1px solid #e1e1e1;font-family:inherit;font-size:14px;margin-bottom:10px;padding:8px;width:100%;}
#board-statistics-section,#boards-section, #recent-posts-section,#statistics-section,#form-area,#replies-section{box-shadow: -2px 2px 6px 0px #9999dd;}
#site-nav{color:#e0eaff;background-color:#367fa9;line-height:64px;min-height:64px;box-shadow:0 6px 6px 0 rgba(0, 0, 0, 0.24)}
#site-nav::after{clear:both;content:"";display:block}
#success{background-color:#ebffec;border:1px solid #daeedb;color:#44ab24;margin-bottom: 12px;padding: 10px;}
#form-area.success{background-color:#ebffec;border:1px solid #daeedb;color:#44ab24;}
div#boards-button-section{line-height:30px;min-height:30px;margin:0 6px 10px 6px;}
div#boards-button-section>ul>li>a{color:white;display:block;height:100%;text-decoration:none;width:100%;}
div#boards-button-section>ul>li>a:hover{text-decoration:none}
div#board-search{min-height:34px;min-width:294px}
div#board-search>form{border:1px solid#d1d1d1;height:32px;}
div#board-search>form>input{line-height:32px;font-size:14px;width:262px}
div#board-search>form>button{height:32px;width:32px;}
div#body-left{width:948px;margin-left:6px;margin-bottom:6px;}
div#body-right{margin-left:980px;margin-right: 6px;}
div.discussion-head{background-color:#3C8DBC;color:#ffffff;padding:8px;}
div#foot{background-color:#222D32;color:#ffffff;font-size:12px;margin-top:20px;padding: 20px 10px;text-align:center;}
div#form-area{background-color:#fcfcff;padding:20px 20px;margin: 0 6px 0 6px;}
div#head{margin-bottom:20px;}
div#nav-links{height:42px;margin-left:8px;}
div#nav-links>a{font-size:14px;font-weight:bold;line-height:40px;margin-left:8px;padding:4px;vertical-align: bottom}
div#page-title{margin:24px 0px 0px 0px;font-size:14px;padding:0px 8px;}
div#page-title>ul>li>i{color:#999999}
div#recent-posts{margin-bottom:20px;}
div#site-search{line-height:64px;margin-right:8px;min-height:64px}
div#site-search>form{border:1px solid#e0eaff;margin-top:13px;min-height:38px}
div#site-search>form>input{color:#e0eaff;font-size:14px;min-height:38px;}
div#site-search>form>input::-webkit-input-placeholder{color:#e0eaff}
div#site-search>form>button{color:#e0eaff;min-height:38px;min-width:38px}
div#stats{background-color:#fcfcff;border-bottom:1px solid#d1d1d1;padding:10px 4px;}
div#user-panel{background-color:#367fa9;font-size:13px;line-height:28px;min-height:28px;}
div#user-panel>div.row>ul.list>li>a{color:#e0eaff}
div#user-panel>div.row>ul.list>li>a:hover{color:white;text-decoration:underline}
div#user-panel>div.row>ul.list>li>i{color:#69afdc;padding-right:2px}
div#wrap-all{height:100%;margin:0 auto;max-width:1280px;min-height:100%;min-width:1280px}
span#side_error_cpw,
span#side_error_ea,
span#side_error_pw{font-style: italic;font-size: 13px;color:red;}
span#site-logo{font-size:32px;text-decoration:overline;}

div.acc-item{border-bottom: 1px solid #aaaaaa;margin: 6px 0 6px 10px;padding: 6px 2px;}

#body-left>#boards-section{margin:0;}
.acc-iteml{color:#888888;float:left;width:148px;}
.acc-itemr{float: left;}
.account-form>input[type=text],.account-form>input[type=password]{font-size:14px;border:1px solid #d1d1d1;padding:4px 8px;margin-bottom:8px;}
.account-form>input[type=submit]{background-color:#e1e1e1;border:1px solid #a1a1a1;cursor:pointer;font-size:14px;margin-top: 8px;padding:4px 8px;}
.account-form>input[type=submit]:focus,.account-form>input[type=submit]:hover{background-color:#f5f5f5;}
.account-form>input[type=submit]:disabled{background-color:#d4d4d4;cursor: default;}
.breakword{word-wrap:break-word}
.btn{padding:2px 8px;}

.discussions-title>h3,.discussions-title>div{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.faq-answers>div{border: 1px solid #999999;padding: 4px;}
ul.faq{margin-left: 12px;}
.fas{line-height:1.5}
.info-text{font-size:12px;}
.input-group>button[type=submit]{background-color:inherit;cursor:pointer;float:right;}
.input-group>input[type=text]{background-color:inherit;float:left;padding-left:12px}
.text-right{text-align:right}
div.boards-item{background-color:#fcfcff;border-bottom:1px solid #eeeefa;overflow:hidden;padding:16px 8px;}
div.boards-recent{float:right;margin-left:4px;overflow:hidden;width:440px;white-space:nowrap;}
div.boards-recent-info{float:right;margin-left:8px;margin-top:3px;width:384px;}
div.boards-recent-title{overflow:hidden;text-overflow:ellipsis}
div.boards-stats{font-size:12px}
div.boards-title{float:left;margin-left:4px;width:424px;}
div.card-body{background-color:#fcfcff;border-bottom:1px solid#d1d1d1;margin-bottom:10px;padding:10px 4px}
div.card-header{background-color:#3C8DBC;color:#ffffff;font-size:20px;font-weight:bold;padding:10px 8px;width:100%;}
div.discussion-item{background-color:#fcfcff;border-bottom:1px solid #eeeefa;overflow:hidden;padding:16px;}
div.discussions-recent{float:left;margin-left:4px;overflow:hidden;width:238px;white-space:nowrap;margin-top: 2px}
div.discussions-stats{float:left;margin-left:4px;overflow:hidden;width:176px;white-space:nowrap;margin-top:2px}
div.discussions-title{float:left;margin-left:12px;width:442px;}
div.recent-info{margin-left:58px;overflow:hidden;white-space:nowrap}
div.recent-item{background-color:#fcfcff;border-bottom:1px solid#d1d1d1;overflow:hidden;padding:8px 8px;position: relative;}
div.reply{box-shadow: -2px 2px 6px 0px #9999dd;margin: 16px 6px 6px 64px;}
div.reply-body{background-color: #fcfcff;overflow:hidden;padding: 16px;}
div.reply-head{padding: 8px;background-color: #8e44ad; color: white;}
div.reply-head>a{color:white;font-weight: bold;}
div.row{clear:both;overflow:hidden}
div.stats-item{overflow:hidden}
i.fa-code{color:#b71540}
img.board-discussions{border-radius: 24px; width:48px; height:48px;}
img.recent-img{float:left;height:48px;vertical-align:text-top;width:48px;}
span.boards-icon{display:block;float:left;font-size:30px;height:48px;text-align:center;width:48px}
span.boards-icon>i{color:#aaaaaa;}
span.bold{font-weight:bold}
span.stats-left{float:left}
span.stats-right{float:right;text-align:right}
ul.list{list-style:none}
ul.list>li{display:inline-block;list-style-type:none;padding-right:8px;}





.ar-11{overflow:hidden;position: relative;width:100%;padding-top:100%/* 1:1 Aspect Ratio */}
.board{margin-bottom: 20px;}
.board-head{color:white;padding:10px}
.board-info-list{list-style: none;}
.board-info-list-item{display:inline-block;list-style-type: none;margin: 0;}
.board-list-item{display: block;list-style-type: none;margin:0;padding: 10px 10px;}
.button{padding:8px;color:white}
.bg-bright{background-color: #fafafa;}
.bg-chilean-fire{background-color:#cd6133}
.bg-dark{background-color: #555555;}
.bg-devil-blue{background-color:#227093}
.bg-eye-of-newt{background-color:#b33939}
.bg-good-samaritan{background-color:#3c6382}
.bg-green-sea{background-color:#16a085}
.bg-jacksons-purple{background-color:#40407a}
.bg-magenta-purple{background-color:#6F1E51}
.bg-mint-leaf{background-color:#00b894}
.bg-palm-springs-splash{background-color:#218c74}
.bg-pixelated-grass{background-color:#009432}
.bg-pomegranate{background-color:#c0392b}
.bg-primary{background-color: #dcdcdc;}
.bg-protoss-pylon{background-color:#00a8ff}
.bg-success{background-color: #00A65A}
.bg-archive{background-color: #F39C12}
.bg-lock{background-color: #DD4B39}
.bg-very-berry{background-color:#B53471}
.bg-wet-asphalt{background-color:#34495e}
.discussion-details{margin-left:20px;}
.discussion-status{width:20px;}
.float-left{float:left}
.float-right{float:right}
.fg-admin{color:red}
.fg-black{color:#292929;}
.fg-bright{color:#999999}
.fg-dodgerblue{color:dodgerblue}
.fg-status-2,a.fg-status-2{color:#8e44ad} /* sticky */
.fg-status-3,a.fg-status-3{color:#e74c3c} /* locked */
.fg-white{color:white}
.no-js{display:none}
.text-center{text-align:center}

hr {
  height: 1px;
  color: #123455;
  background-color: #123455;
  border: none;
}